1. scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78} Charlie의 점수를 출력하세요

In [7]:
scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78}
print(scores)
print(scores.get("Charlie"))

{'Alice': 85, 'Bob': 92, 'Charlie': 78}
78

2. person = {'name': 'Alice', 'age': 25} 주어졌을 때 이름과 나이를 출력하는 프로그램을 만드세요.

In [18]:
person = {'name': 'Alice', 'age': 25}

print(f"이름은 {person['name']}이고, 나이는 {person['age']}이다.")

이름은 Alice이고, 나이는 25이다.

3. grades = {'math': 90, 'science': 85, 'english': 88} 주어진 딕셔너리의 과목의 합과 평균을 구해주세요

In [13]:
grades = {'math': 90, 'science': 85, 'english': 88}

score=list(grades.values())

num_sum = score[0] + score[1] +score[2]
num_ave = num_sum / 3

print(num_sum)
print(num_ave)

263
87.66666666666667

In [31]:
grades = {'math': 90, 'science': 85, 'english': 88}

math = grades['math']
science = grades['science'] 
english = grades['english'] 

print (f"수학점수는 {math}이고 과학점수는 {science}이고, 영어점수는 {english}이다. 점수 총합은 {math+science+english}, 점수 평균은 {math+science+english/3}")

수학점수는 90이고 과학점수는 85이고, 영어점수는 88이다. 점수 총합은 263, 점수 평균은 204.33333333333334

4. employee = {'name': 'ken', 'position': 'Manager', 'salary': 5000} 에서 salary 요소를 삭제해 주세요

In [16]:
employee = {'name': 'ken', 'position': 'Manager', 'salary': 5000}

del employee["salary"]
print(employee)

{'name': 'ken', 'position': 'Manager'}

5. foods = {"딸기": 1000, "사과": 2000, "수박": 3000} 에서 "김치": 5000 을 추가해 주세요 |

In [17]:
foods = {"딸기": 1000, "사과": 2000, "수박": 3000}

foods["김치"] = 5000

print(foods)

{'딸기': 1000, '사과': 2000, '수박': 3000, '김치': 5000}

6. foods = {"딸기": 1000, "사과": 2000, "수박": 3000} 에서 수박이 있으면 True 를 출력하는 프로그램을 만드세요

In [29]:
foods = {"딸기": 1000, "사과": 2000, "수박": 3000}
"수박" in foods

True

7. foods = {"딸기": 1000, "사과": 2000, "수박": 3000} 에서 key 값을 출력하라(for문 활용)

In [28]:
foods = {"딸기": 1000, "사과": 2000, "수박": 3000}

for key in foods.keys():
    print(key)

딸기
사과
수박

8. foods = {"딸기": 1000, "사과": 2000, "수박": 3000} value 값들을 출력하라(for문)

In [30]:
foods = {"딸기": 1000, "사과": 2000, "수박": 3000}

for value in foods.values():
    print(value)

1000
2000
3000